*, *::before, *::after { box-sizing: border-box; } * { margin: 0; } body { line-height: 1.5; -webkit-font-smoothing: antialiased; } img, picture, video, canvas, svg { display: block; max-width: 100%; } input, button, textarea, select { font: inherit; } p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; } 

@page { size: 8.5in 11in; margin: 0; } 

body { font-family: 'Montserrat'; display: flex; align-items: center; justify-content:center; } 
.printed-sheet {
	width: 8.5in;
	height: 11in;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	justify-content: space-between;
	gap: 12pt;
	background-color: white;
}

h1 { line-height: 1.2; margin-bottom: 6pt; font-weight: 300; font-size: 24pt; } 
p { line-height: 1.2; font-weight: 300; font-size: 11pt; } 
main { display: flex; flex-direction: column; text-align: center; padding-inline: 1in; height: 100%; justify-content: space-evenly; } 
img { max-width: 100%; height: auto; } 

.contact { background-color: #0C2749; margin-inline: .5in; padding: 1rem; text-align: center; color: white; } 
.small { font-size: 10px; } 
.quote { display: flex; flex-direction: column; gap: 1rem; background-image: url('img/03-quotes.png'); background-repeat: no-repeat; background-size: contain; padding-block: 1rem; background-position: center; } 
.office-name { font-weight: 500; } 
.office-email { font-size: smaller; } 
.fine-print { font-size: 8px; line-height: 1.2; padding: .125in .5in .25in; text-align: center; } 

@media print {.display-only { display: none; } 
}

@media screen {
	.top-bar{display: flex; justify-content: space-between; width: 100%;}
	body{background-color: #ECEDEB;}
	.printed-sheet { box-shadow: 0 32px 32px #00000033;} 
	.btn {padding: 1rem 2rem;
		text-transform: uppercase;
		border-radius: 999px;
		border: solid 1px #0C2749;
		cursor: pointer;
	}
	.btn:hover {
		background-color: #485C77;
		color: white;
	}
	.group {
		padding-block: 4rem;
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 2rem;
	}
 }
 @media screen and (max-width: 815px) {
  .group {
    transform: scale(.75);
  }
}